*{
margin: 0;
padding: 0;
}

body{
background: #141452;
font-family: Tahoma, Arial, sans-serif;
margin: auto;
font-size: 15px;
}
img{
display: block;
margin: .35em auto;
border-style: none;
text-decoration: none; 
}
img.logo{
margin: .4em auto .2em;
padding: 0;
}
img.footerlogo{
float: left;
margin-right: .7em;
}
img.letters{
margin: 1.8em 0 0 16em;
}
img.button{
margin: .5em auto .7em;
border: 1px solid #141452;
}

img.light{
z-index: -100;
position: absolute;
width: 40%;
margin-left: 13em;
}

p.center{
text-align: center;
font-size: 84%;
line-height: 1.6em;
padding: .35em;
color: #000;
}
p.main{
font-size: 14px;
}
p.formtop{
text-align: center;
font-size: 84%;
line-height: 1.6em;
padding: .35em;
color: #000;
margin-left: 15em;
}
div#container{
border: 2px solid #679902;
width: 56em;
margin: 1.5em auto 1em;
background: #fff;
z-index: -20;

}
div#header{
height: 8em;
padding: .5em 0;
}
div#nav{
margin: 0 auto .5em;
z-index: -15;
width:100%;
background: #7caf0a url('images/navborder.jpg') repeat-x;
height: 36px;
}
div#nav ul {
list-style-type: none;
margin-left: 0em;
} 
div#nav li {
float: left;
position: relative;
}
div#nav li ul{
  position:absolute;
  z-index:90;
    visibility:hidden;
	margin: 0;
  border-left: 1px solid #679902;
  border-bottom: 1px solid #679902;
}
#nav li:hover ul,
#nav li a:hover ul{ /* IE6 hack */
  visibility:visible;
}
#nav li:hover ul li a,
#nav li a:hover ul li a{ /* IE6 hack */
  background:#88b514;
  text-align:left;
  display:block;
  width:11.5em;
  padding:0 0 0 .75em;
  height:auto;
}
/* Hover on drop-down menu links */
#nav li:hover ul li a:hover,
#nav li a:hover ul li a:hover{ /* IE6 hack */
  background: #679902;
}
#nav ul li a
{
font-family:Verdana,Arial,sans-serif;
font-size: 13px;
font-weight: bold;
display: block;
text-decoration: none;
text-align: center;
color: #fff;
background: #679902 url('images/navborder.jpg') repeat-x;
border-right: 1px solid #679902;
line-height:2.7em;
height: 36px;
padding: 0 1em 0;
} 
#nav ul li a.selected{
background: #679902;
}
#nav ul li a:hover
{
background: #679902 repeat-x;
} 
#nav table {
  margin:-1px;
  border-collapse:collapse;
  position:absolute;
  top:0.5em;
  left:0;
  z-index:100;
}
div#main{
margin: 0;
background-color: #fff;
color: #000;
margin-right: 12em;
padding: .5em;
z-index:50;
position: relative;
overflow: auto;
}
div#rightcol{
   width:12.5em;
   float:right;
   text-align: center;
   padding-top: .5em;
   }
div#hours{
margin: auto;
width: 9.5em;
background: #484554;
padding: .8em;
padding-top: .5em;
color: #fff;
border: 1px solid #141452;
}
div#hours td{
font-size: 70%;
}
td.brand{
font-weight: bold;
line-height: 1.5em;
}
table.string{
border-collapse: collapse;
border: 2px solid #141452;
margin: 1em auto;
}
table.string td{
padding: .3em;
border: 2px solid #141452;
}
td.logo{
border: 0;
}
div#pickup{
padding: 1em;
}
div#pickup p{
font-size: 84%;
line-height: 1.6em;
padding: .35em;
}
div#pickup ul{
font-size: 84%;
line-height: 1.4em;
padding: .35em;
margin: 0 4em;
}
div#phpscreen{
height: 15em;
clear: both;
margin-top: 3em;
}
div#footer{
clear: both;
color: #fff;
font-size: 80%;
text-align: center;
margin: 0 auto 2em;
font-weight: ;
}
div#footer a{
color: #fff;
font-weight: normal;
}
div#logos{
background: #fff;
height: 3.5em;
margin-left: .5em;
clear: both;
}
p{
padding: .5em;
}
a{
color: #141452;
text-decoration: none;
font-weight: bold;
}
a:hover{
color: #141452;
text-decoration: underline;
font-weight: bold;
}
div#main ul li{
margin-left: 1em;
}
h1{
text-align: center;
color: #141452;
margin-top: .5em;
font-size: 200%;
}
h2{
padding: ;
color: #141452;
text-align: center;
}
h3{
color: #141452;
line-height: 1.7em;
font-size: 110%;
}
div#hours h3{
color: #fff;
padding: 0em;
}
h4{
padding: .5em;
color: #141452;
text-align: center;
}
h4.top{
padding: 0;
margin: 0;
color: #141452;
text-align: left;
font-size: 80%;
margin:0 0 0 16em;
}
label span{
float: left;
}